@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
@* <MudPopoverProvider /> *@

@* Needed for dialogs *@
@* <MudDialogProvider /> *@

@* Needed for snackbars *@
@* <MudSnackbarProvider /> *@


@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu /> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@

<MudLayout>
    <MudAppBar Elevation="1" Dense="@_dense">
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_open" ClipMode="_clipMode" Breakpoint="@_breakpoint" Elevation="1" Variant="@DrawerVariant.Mini">
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store" Href="/">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LibraryBooks" Href="Cursussen">Cursussen</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group" Href="Fileupload">File upload</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group" Href="Muddy">Muddy</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code{
    private bool _open = true;
    private bool _dense = false;
    private Breakpoint _breakpoint = Breakpoint.Lg;
    private DrawerClipMode _clipMode = DrawerClipMode.Never;

}
