@page "/cursussen"

<PageTitle>Cursussen</PageTitle>

@{
	var bla = "iets";
}

<h3>Cursussen</h3>

<EditForm Model="NewCourse" method="post" OnInvalidSubmit="DuurtLang" OnValidSubmit="AddCourse" FormName="AddCourseForm">
	<DataAnnotationsValidator />
	@* <FluentValidationValidator /> *@

	<ValidationSummary />

	<ol>
		<li style="display: flex;">
			<label for="input-title">Titel:</label>
			@* <input name="newcourse.title" id="input-title" /> *@
			<InputText @bind-Value="NewCourse.Title" id="input-title" />
			<ValidationMessage For="() => NewCourse.Title" />
		</li>
		<li style="display: flex;">
			<label for="input-nr-of-days"># dagen:</label>
			<InputNumber @bind-Value="NewCourse.NrOfDays" id="input-nr-of-days" />
			<ValidationMessage For="() => NewCourse.NrOfDays" />
		</li>
		<li style="display: flex;">
			<label for="input-fun-photo">Leuke foto:</label>
			<InputText @bind-Value="NewCourse.FunPhoto" id="input-fun-photo" type="url" />
			<ValidationMessage For="() => NewCourse.FunPhoto" />
		</li>
		<li>
			<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Voeg cursus toe</MudButton>
		</li>
	</ol>
</EditForm>



@if (Courses is null)
{
	<text>Geen cursussen.</text>
}
else
{
	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Titel</th>
			<th># dagen</th>
			<th>Leuke foto</th>
		</tr>
		</thead>
		<tbody>
			@foreach (var course in Courses)
			{
				<tr>
					<td>@course.Id</td>
					<td>@course.Title</td>
					<td>@course.NrOfDays (@(course.NrOfDays > 3 ? "lang" : "kort"))</td>
					<td><img src="@course.FunPhoto"></td>
				</tr>
			}
		</tbody>
	</table>

}